body{
  margin: 0px;
  font-size: 15px;
  font-family: helvetica;
}

figure{
  margin: 0;
}

.header_container{
  background: #6EC427;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

nav ol{
  display: flex;
  list-style: none;
}

nav li a{
  color: black;
  text-decoration: none;
  list-style: none;
  padding-left: 10px;
  text-transform: uppercase;
}

nav li a:hover{ /*Esto es para que cuanto te poses en el link cambie de color*/
  color: white;
}



/* --------------- */

.text_container{
  text-align: center;
  margin-top: 90px;
  margin-bottom: 90px;
}

.products{
  background-image: url("../imagenes/curve.png");
  height: 50px;
  background-size: cover;  /*Sirve para que ocupe el tamano del div*/
  background-position: center top;
  padding: 25%;
  padding-bottom: 5%;
  display: flex;
}

.product{
  padding: 10px;
  margin-top: -380px;
}
.product .content{
  background: #026FFF;
  padding: 15px;
  box-shadow: 0 0 1px #c1bcbc

}

.image_container{
  text-align: center;
}

.button_hero{
  background-color: #6EC427;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 0px;
  border-radius: 5px;
  color: white;
  font-family:"ink free";
  cursor:pointer; /*Para que te salga la mano cuando pares el mouse alli*/
}

.button_hero:hover{
  background-color: #529e13;
}

/*Seccion de descripcion de nuestros gatos */

.description_container{
  display: flex;
  justify-content: space-around;
  margin-top: 180px;
}

.description_box{

  padding: 15px;
  text-align: center;
}

.image_description{
  width: 112px;
  height: 110px;
  text-align: center;
}

.mentions{
  display: flex;
  justify-content: space-around;
}
.mentios_box{
  background: #026FFF;
}

.mentios_title{
  text-align: center;
  margin-top: 150px;
  margin-bottom: 80px;
}
