body{
  margin: 0px;
  font-size: 15px;
  font-family: helvetica;
}



.header_container{
  background: #6EC427;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

nav ol{
  display: flex;
  list-style: none;
}

nav li a{
  color: black;
  text-decoration: none;
  list-style: none;
  padding-left: 10px;
  text-transform: uppercase;
}

nav li a:hover{ /*Esto es para que cuanto te poses en el link cambie de color*/
  color: white;
}



/* --------------- */

.text_container{
  text-align: center;
  margin-top: 90px;
  margin-bottom: 90px;
  font-family: "Cinzel"
}

.products{
  background-image: url("../imagenes/curve.png");
  height: 50px;
  background-size: cover;  /*Sirve para que ocupe el tamano del div*/
  background-position: center top;
  padding: 25%;
  padding-bottom: 0;
  display: flex;
}

.product{
  padding: 10px;
  margin-top: -370px;
}
.product .content{
  background: #026FFF;
  padding: 15px;
  box-shadow: 0 0 3px #c1bcbc;
  color: #d4d2d2;
  text-align: center;

}

.image_container{
  text-align: center;
}

.button_hero{
  background-color: #6EC427;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 0px;
  border-radius: 5px;
  color: white;
  font-family:"ink free";
  cursor:pointer; /*Para que te salga la mano cuando pares el mouse alli*/
}

.button_hero:hover{
  background-color: #529e13;
}

/*Seccion de descripcion de nuestros gatos */

.description_container{
  display: flex;
  justify-content: space-around;
  padding-top: 180px;
}

.description_box{

  padding: 15px;
  text-align: center;
}

.image_description{
  width: 112px;
  height: 110px;
  text-align: center;
}

/*Mencioness*/
.mentios_title{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: "Montserrat"
}

.mentions{
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
}

.mentions_box{
  overflow: hidden;
}

figure{
  margin: 0;
  text-align: center;
  margin-top: 30px;
}
.text_mentions{
  padding: 15px;
  background: white;
  position: relative;
  text-align: center;
}
.image_mentions{
  align-items: center;
  width: 130px;
  height: 120px;
  border-radius: 80px;

}

p{
  font-family: "Montserrat";
  font-size: 17px;
}

.mentions_box p{
  font-size: 12px;
}

.border{
  border-left: 20px solid #026FFF;
}


/*--------------------- MODULO VENTA*/
.container{
  margin-top: 100px;
  margin-bottom: 100px
}
.modulo_pago{
  padding: 10px;
  box-shadow: 0 0 3px #c1bcbc;
  height: 356px;

}

.modulo_pago p{
  font-size: 15px;
}

.modulo_pago h3{
  text-align: center;
}

.casilla{
  width: 100%;
  border-radius: 8px;
  border: 0px;
  background: #c5bdbd;
  height: 30px;
}

.button{
  background: #6EC427;
  width: 100%;
  padding: 10px;
  margin-top: 16px;
  margin-bottom: 6px;
  cursor: pointer;
  color: white;
  border: 0px;
  border-radius: 8px;
  font-weight: bold;
}

button:hover{
  background: #529e13;
}
/*--------------------- MODULO VENTA*/

footer{
  background: #252731;
  height: 50px;
}

footer p{
    color: white;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    font-size: 14px;
}
