
@media (max-width: 600px) {

  nav ol{
    font-size: 13px
  }
  .products{
    display: inherit;
    height: auto;
    padding: 18% 5% 5% 5%;
  }

  .product{
    margin-top: auto;
  }

  .text_container{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .description_container, .mentions{
    display: inline;
  }

  .mentions_box p{
    font-size: 17px;
  }
}
